<div class="container">
  <!-- Example row of columns -->
    <div class = "card-deck-wrapper" *ngFor="let group of groupFeed">
      <div class = "card-deck">
        <div class="card " *ngFor="let entry of group" >
          <img class="card-img-top" [src]="getImageUrl(entry.content)" alt="Card image cap" style="width:100%">
          <div class="card-block">
            <h4 class="card-title">{{entry.title}}</h4>
            <p class="card-text">{{entry.contentSnippet}}</p>
            <p class="card-text"><small class="text-muted">{{entry.author}} - {{entry.publishedDate | amTimeAgo:true}} ago</small></p>
            <a target="new" href="{{entry.link}}" class="card-link">Open</a>
          </div>
        </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Nuno Laúdo 2016</p>
  </footer>
</div>
<!-- /container -->
<!-- [ngClass]="{ 'card-deck-wrapper' : index === 0 || index % 3 === 0}" -->
<!-- [ngClass]="{ 'card-deck-wrapper' : index === 0 || index % 3 === 0}" -->
