<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background: #009688;">
  <div class="container">
    <h1 class="display-3, headerTextHigh">My Rss Feed Project</h1>
    <p class="headerTextLow">This is my first angular project.</p>
    <p class="headerTextLow">A sample project that shows information from Rss feeds. Here you can find posts from a lot of tech sites</p>
  </div>
</div>
<app-dashboard>Loading...</app-dashboard>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
  crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
  crossorigin="anonymous"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
